#!/bin/bash

# rcloneのリモート名とディレクトリ
RCLONE_REMOTE="dropbox:git_linked_files"

# Gitリポジトリの名前
REPO_NAME="your_repo_name"

# rclone上のリモートディレクトリ
RCLONE_REPO_DIR="$RCLONE_REMOTE/$REPO_NAME"

# バックアップの保存先ディレクトリ
BACKUP_DIR="$HOME/Downloads/git_file_backups"
